body {
font-family: "Dangrek", sans-serif;
background-color: rgb(166, 234, 157);
text-align: center;
}

h1 {
    color: white;
    text-shadow: 2px 1px rgb(238, 114, 153);
    font-family: "Dangrek", sans-serif;
  
}


p {
    color: rgb(238, 114, 153);
}



img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
 


  #question {
    color: rgb(238, 114, 153);
    font-size: medium;
  }
  

  .choices:hover {
    color: rgb(166, 234, 157);
    background-color: rgb(238, 114, 153);
    cursor: pointer;
   
  }
  

.try {
    color: #fff;
    text-shadow: 1px 1px rgb(238, 114, 153);
    display: flex;
    justify-content: flex-end;
   
   
    

}
.try1 {
    color: #fff;
    text-shadow: 1px 1px rgb(238, 114, 153);
    display: flex;
    justify-content: flex-end;
    padding-left: 10px;
    

}




#button {
    background-color: rgb(238, 114, 153);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
  }